<img src="/assets/img/burger.png" width="150px">

<h1>Eat-Da-Burger!</h1>
<form>
  <div class="form-group">

    <textarea rows="4" cols="50" id="textarea"></textarea>
  </div>
</form>
<button type="submit">Submit</button>
<div>Enter a burger you want to eat.Click the "Submit" button</div>