<img src="/assets/img/burger.png" width="150px">

<h1>Eat-Da-Burger!</h1>
<form>
  <div class="form-group">

    <textarea rows="4" cols="50" id="textarea"></textarea>
  </div>
</form>
<button type="submit">Submit</button>
<div>Enter a burger you want to eat.Click the "Submit" button</div>

<h2>Burger</h2>

{{#each burger}} {{#if devoured}}
<p>Name: {{name}}</p>
<p>devoured: ${{devoured}}</p>
{{/if}}

<hr> {{/each}} {{!--
<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}} {{#if sleepy}} {{> cats/cat-block sleep=false}} {{/if}} {{/each}}
</ul> --}}